:root {
	color-scheme: dark;
}

html {
	scroll-behavior: smooth;
	&,
	& > body {
		min-height: 100vh;
	}
	& > body {
		display: flex;
	}
	& > body {
		flex-direction: column;
	}
	& > body {
		overflow-x: hidden;
	}
	& > body {
		--tw-text-opacity: 1;
		color: rgb(245 245 245 / var(--tw-text-opacity));
	}
	& > body {
		& * {
			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 150ms;
		}
		& * {
			print-color-adjust: exact;
			&::selection {
				--tw-bg-opacity: 1;
				background-color: rgb(252 211 77 / var(--tw-bg-opacity));
			}
			&::selection {
				--tw-text-opacity: 1;
				color: rgb(23 23 23 / var(--tw-text-opacity));
			}
		}
		& h1,
		& h2,
		& h3,
		& h4,
		& h5,
		& h6,
		& p,
		& span {
			& a {
				--tw-text-opacity: 1;
				color: rgb(6 182 212 / var(--tw-text-opacity));
			}
			& a {
				-webkit-text-decoration-line: underline;
								text-decoration-line: underline;
			}
			& a {
				&:hover {
					-webkit-text-decoration-line: none;
									text-decoration-line: none;
				}
			}
		}
		& h1 {
			font-size: 3rem;
			line-height: 1;
		}
		& h2 {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}
		& h3 {
			font-size: 1.875rem;
			line-height: 2.25rem;
		}
		& h4 {
			font-size: 1.5rem;
			line-height: 2rem;
		}
		& h5 {
			font-size: 1.25rem;
			line-height: 1.75rem;
		}
		& h6 {
			font-size: 1.125rem;
			line-height: 1.75rem;
		}
	}
}
